<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border border-5 rounded custom">
                <div class="card-header text-center">
                    <h4>Register</h4>
                </div>
   
    <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
           <div class="form-group">
            <input type="text" [formControlName]="'name'" class="form-control" placeholder="name"/>
            <span *ngIf="signupForm?.get('name')?.invalid && signupForm?.get('name')?.touched">Enter name</span><br>
            <input type="text" [formControlName]="'password'" class="form-control"  placeholder="password"/>
            <span *ngIf="signupForm?.get('password')?.invalid&& signupForm?.get('password')?.touched">Enter password</span><br>
            <input type="text" [formControlName]="'email'" class="form-control"  placeholder="email"/>
            <span *ngIf="signupForm?.get('email')?.invalid&& signupForm?.get('email')?.touched">Enter email</span><br>        
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
